.start-traverse-btn {
    display: flex;
    margin: 0 auto;
    padding: 5px 20px;
    border: none;
    color: white;
    border-radius: 5px;
    text-decoration: double;
    background-color: rgb(219, 25, 25);
    transition: 0.5s;

    &:hover {
        padding: 5px 25px;
        background-color: rgb(242, 63, 63);
        color: rgb(255, 255, 255);
    }

    &:active {
        padding: 5px 17px;
        background-color: rgb(189, 9, 9);;
    }
}